<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCECLFMClWeLtFUn2PtAzYYU5-4q08n3Bo</string>
	<key>GCM_SENDER_ID</key>
	<string>683292108784</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Raneem.ToDo-Firebase-Array</string>
	<key>PROJECT_ID</key>
	<string>todo-labassignment</string>
	<key>STORAGE_BUCKET</key>
	<string>todo-labassignment.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:683292108784:ios:7b52b56b83af71fe4b1f35</string>
</dict>
</plist>